<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id){
    <!-- ngFor and ngIf are structual directives -->

    <li>
      <app-user
        [user]="user"
        (select)="onSelectUser($event)"
        [selected]="user.id === selectedUserId"
      />
    </li>
    }
  </ul>

  @if (selectedUser) {
  <app-tasks [username]="selectedUser!.name" [id]="selectedUser!.id" />
  }@else {
  <!-- <ng-template #fallback> -->
  <p id="fallback">Select a user to see their tasks!</p>
  <!-- </ng-template> -->
  }
</main>
